<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Consulta Climática</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-sA+vx6kG4P2btk5js7u6Ff0tWvHb5HVTv0CqfUQ+G+M="
        crossorigin=""/>

</head>
<body>
  <div class="container">
    <div class="card header">
      <div 